# SA-MP 0.3.DL Server Configuration - Unicate Gaming RPG
echo Executing Server Config...
lanmode 0
rcon_password russss
maxplayers 200
port 7777
hostname Unicate Gaming RPG
gamemode0 fg-ogc 1
plugins crashdetect streamer sscanf iTD MapAndreas cef mysql
announce 1
query 1
chatlogging 1
weburl www.ug-rpg.com
mapname UGRPG
